/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  /* Set color variables */
  --white: #F9FAF8;
  --dark: #1F2937;
  --subdued: #E5E7EB;
  --button: #3882F6;
}

body {
  /* margin: 0 auto; */
}

/* Typography & Colours */

header,
footer,
#hero {
  background-color: var(--dark);
}

#logo {
  font-size: 24px;
  color: var(--white);
}

#hero h1 {
  font-size: 48px;
  font-weight: 800; /* extra-bold */
  color: var(--white);
}

#information h2 {
  font-size: 24px;
  color: var(--dark);
}

.subdued,
#signup p {
  color: var(--subdued);
}

#quote {
  background-color: var(--subdued);
}

figure {
  font-size: 36px;
  color: var(--dark);
}

blockquote {
  font-weight: 300;
  font-style: italic;
}

figcaption {
  text-align: end;
  font-weight: 800;
  padding-top: 20px;
}

#signup h2 {
  font-weight: bold;
  color: var(--white);
}

.copyright {
  color: var(--white);
}

/* Link styles */

.nav-links {
  text-decoration: none;
}

.nav-links:link {

}

.nav-links:visited {

}

.nav-links:focus {

}

.nav-links:hover {
  color: var(--white);
}

.nav-links:active {

}

/* layout */

section {
  padding-block: 50px;
}

header {
  padding-block: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 15px;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.text-container {
   max-width: 500px;
}

#information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#boxes {
  display: flex;
  gap: 30px;
}

#quote {
  display: flex;
  align-items: center;
  justify-content: center;
}
