/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  /* Set color variables */
  --white: #F9FAF8;
  --dark: #1F2937;
  --subdued: #E5E7EB;
  --button: #3882F6;
}

/* Typography & Colours */

header,
footer,
#hero {
  background-color: var(--dark);
}

#logo {
  font-size: 24px;
  color: var(--white);
}

#hero h1 {
  font-size: 48px;
  font-weight: 800; /* extra-bold */
  color: var(--white);
}

#information h2 {
  font-size: 24px;
  color: var(--dark);
}

.subdued,
#signup p {
  color: var(--subdued);
}

#quote {
  background-color: var(--subdued);
}

#signup h2 {
  font-weight: bold;
  color: var(--white);
}

.copyright {
  color: var(--white);
}

/* Link styles */

.nav-links {
  text-decoration: none;
}

.nav-links:link {

}

.nav-links:visited {

}

.nav-links:focus {

}

.nav-links:hover {
  color: var(--white);
}

.nav-links:active {

}
